@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-block: 120px;
}

body {
  font-family: "Catamaran", sans-serif;
  overflow-x: hidden;
}

main {
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #e8e8e8;
  z-index: -1;
}

.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 72px);
}

input,textarea:focus {
  outline: none;
}

.timeline {
  position: relative;
  margin: 0 auto;
  display: grid;
  gap:3rem;
}

/* Vertical line */
.timeline::before {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #007bff;
  top: 0;
  height: 110%;
  left: 165px;
}

.timeline .container {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  gap: 8rem;
}

/* The circles on the timeline */
.timeline .container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 158px; /* Align with the vertical line */
  background-color: #007bff;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}